p {
    color: rgb(15, 15, 16);
    width: 100%;
    border: 1px solid rgb(249, 140, 252);
  }
  html {
    font-size: 20px; 
    font-family: "Open Sans", sans-serif;
  }
 
  h1{ color: rgb(215, 240, 52);
  }
    img{
      width: 50%;
    }

  
   